[Desktop Entry]
Name=Decent Sampler
Comment=A FREE sampling plugin that allows you to play samples in the Decent Sampler format.
Exec=DecentSampler
Terminal=false
Type=Application
Icon=DecentSampler
Categories=AudioVideo;Audio;X-Jack;Midi;X-MIDI;
Keywords=Audio;Sound;Sampler;Synth;Record;Midi;Jack;

